body {
    font-family: 'Roboto', sans-serif;
    background-color: #17191f;
    color: #fff;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

.logo {
    left: 0;
    top: 0;
    margin: 0;
    position: relative;
    padding: 40px;
    width: 700px;
    font-weight: bold;
    font-size: 32px;
}

.container {
    width: 1100px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tabs {
    background-color: #2b2e33;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #fff;
}

.tabs .tab a {
    font-size: 15px;
    color: #fff;
}

.modal,
.modal .modal-footer {
    background-color: #43484f;
    /* background-color: #000; */
    color: #fff;
}

table {
    font-size: 19px;
    font-weight: bold;
}

.question {
    border-top: 1px solid #fff;
    padding: 7px 0;
}

.question:first-child {
    border-top: 1px solid transparent;
}

.title {
    font-size: 25px;
    margin-bottom: 5px;
}

#btn_logout {
    border: none;
    /* background: rgb(0, 104, 5); */
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
    border: 3px solid rgb(1, 160, 182);
}

#btn_logout:hover {
    background: rgb(2, 110, 123);
}

.admins {
    border: none;
    background: transparent;
    border: 3px solid rgb(1, 160, 182);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
}

.admins:hover {
    background: rgb(2, 110, 123);
}

input[type="text"] {
    color: #fff;
}

select {
    width: 22%;
    float: left;
    display: block;
    margin-left: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #9e9e9e;
    color: #fff;
}

option {
    background: transparent;
    color: #000;
}

#add-admin {
    border: none;
    background: rgb(1, 160, 182);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
    vertical-align: middle;
    margin-top: 10px;
}

#add-admin:hover {
    background: rgb(2, 110, 123);
}

.refresh {
    border: none;
    background: rgb(1, 160, 182);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
}

.refresh:hover {
    background-color: rgb(2, 110, 123) !important;
}

@media all and (max-width: 900px) {
    .logo {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .przyciskdwa {
        display: none !important;
    }

    .fa-arrow-left {
        display: none !important;
    }
}



.przyciskdwa {
    position: fixed;
    bottom: 0;
    margin-left: 5px;
    transform: translateY(-50%)
}

.fa-arrow-left {
    font-size: 50px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: rgb(1, 160, 182);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(2, 110, 123);
}

.show-button {
    background-color: rgb(1, 160, 182) !important;
}